flows.json
[{"id":"32e17688.8aa4fa","label":"new package","type":"tab"},{"id":"32f10643.e35b4a","type":"osmonitor","z":"32e17688.8aa4fa","name":"","subtype":"loadavg1","x":165,"y":256,"wires":[["c2dddfe4.8f4dc"]]},{"id":"c2dddfe4.8f4dc","type":"chartify","z":"32e17688.8aa4fa","name":"ff","title":"","chart":"bar","xlabel":"","ylabel":"","min":"","max":"","labels":"","maxreadings":"","ticks":"","xtype":[],"ytype":[],"subtype":"bar","x":353,"y":256,"wires":[["7a2d8ac8.379764"]]},{"id":"7a2d8ac8.379764","type":"app","z":"32e17688.8aa4fa","name":"a","appId":"webapp","layout":[["c2dddfe4.8f4dc"],["ec3f1936.29bd48"]],"x":576,"y":260,"wires":[]},{"id":"ec3f1936.29bd48","type":"inject","z":"32e17688.8aa4fa","name":"inject","topic":"aaa","payload":"","payloadType":"date","repeat":1,"crontab":"","once":false,"x":179,"y":50,"wires":[["7a2d8ac8.379764"]]}]